<!DOCTYPE html>
<html>
<head>
    <title>Projeto-escola</title>
    <style>
        h1 {display: flex; flex: auto;}
        body { font-family: Arial, sans-serif; margin: 40px; }
        nav a { margin: 0 15px; text-decoration: none; color: #007bff; }
        nav a:hover { text-decoration: underline; }
    </style>
</head>
<body>
    <h1>Sistema Acadêmico</h1>
    <nav>
        <a href="/professores">Professores</a>
        <a href="/cursos">Cursos</a>
        <a href="/alunos">Alunos</a>
        <a href="/integrantes">Integrantes</a>
    </nav>
    
    <h2>Bem-vindo ao gerenciamento que eu fiz da escola!</h2>
    <p>Só usar as seções que estão acima para ver as coisas.</p>
</body>
</html>
 